@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Poppins&family=Rajdhani:wght@500&display=swap');
*{
    margin: 0%;
    padding: 0;
}

.search{
    height: 100em;
 width: 9em;
    background-color: #e1f0f7;
    padding: 1em;
    text-align: left;
    float: left;
}

.title-search{
    display: flex;
    padding: 1em 0;
}

.head{
    padding: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;

}
.icon{
    align-self: center;
    padding: 0.5em;
}
.search-in{
    padding: 0.3em;
    text-align: left;
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}
p{
    padding: 1.5em 0 ;
    font-family: 'Poppins', sans-serif;

}

.subpart{
    border-bottom: 2px solid #c0c0be;
}


.nav{
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
    /* width: 82em; */
}

.detail{
    padding-left:13em ;
    box-shadow: 0 -15px 15px -15px rgba(0,0,0,0.3);
    /* float: left; */
}
.section{
    width: 48em;
    /* background-color: rgb(76, 143, 194); */
    border: 2px solid #c0c0be;
    border-radius: 1%;
    float: left;
    margin: 2em 1em;
    padding: 1em;

}
.section-one{
    display: grid;
    grid-template-columns: 5em 5em 7.5em 5em 5em 2.5em 7.5em 5em ;
    column-gap: 1em;
    padding: 1em;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    color: black;
}

.heading{
    color:#c0c0be;
    font-family: 'Poppins', sans-serif;

}

.info{
    height: max-content;
    width: 18em;
    border: 2px solid #c0c0be;
    border-radius: 1%;
    background-color: #ffffff;
    float: right;
    margin: 2em 3em;
    padding: 1em;
    text-align: center;
}

.fa-circle-check{
    color: #38ce39;
}

.select-name{
    background-color: #d9d9d9;
    border-radius: 10px;
}
select{
    height: max-content;
    align-self: center;
    padding: 2%;
    width: 100%;
}

.assign{
height: max-content;
padding: 5%;
border-radius: 40px;
border-color: rgb(194, 191, 191);
}


.bill-info{
    height: max-content;
    width: 17em;
    border: 2px solid #c0c0be;
    border-radius: 1%;
    background-color: #ffffff;
    margin: 0.5em ;
    /* padding: 0.5%; */
    text-align: left;
    
}

.header{
    /* display: grid;
    grid-template-columns: 2.5fr 0.5fr 1fr 1fr; */
    display: grid;
    grid-template-columns: 7.5em 6.8em 6.8em 6.8em ;
    padding: 0.5em;
    /* justify-content: space-between; */
    /* border-top: 2px solid #eaeeef; */
    text-align: center;
    font-size: 10px;
}

.total{
    border-top: 2px solid black;
}
.print{
    height: min-content;
    width: 10em;
    background-color: blue;
    padding: 2%;
    color: white;
    border-color: blue;
    border-radius: 5%;
    

}

.info-one{
    text-align: left;
    background-color: #ffffff;

    
}

.p-info{
    padding: 0.5em;
    color: #c0c0be;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}

span{
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

img{
    height: 50px;
    width: 50px;
}


.nav{
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    
}

.nav-search{
    display: flex;
    padding: 1.8em 0;
    margin-right: 60%;
}

.icon-search{
    align-self: center;
    padding: 0.4em;
    background-color: #20232a;
    color: white;
}
.search-for{
    padding: 1%;
    text-align: left;
    font-size: 15px;
    background-color: #f8f9fb;
    width: 15em;
    font-family: 'Poppins', sans-serif;

}

.nav-noti{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    margin-right:2% ;
}

.icon-bell{
    align-self: center;
    padding: 1.5em;
    background-color: #fff;
    margin-right:1% ;
    
}

.img{
    /* margin-right: 3%; */
    height: 50px;
    width: 50px;
    border-radius: 50%;

    
}
